## Python Variable

In [13]:
# Python Variable 
x = 5 # Int
y = "Adam" # String
print(x,y)
print(type(x))
print(type(y))

# Casting

x = str(4)
print(type(x))

5 Adam
<class 'int'>
<class 'str'>
<class 'str'>

## Assign Multiple Variables

In [3]:
# x,y,z = "pineapple", "banana" , "manggo"
# print(x)
# print(y)
# print(z)

# Unpack Collection

foods = ["Burger", "Seafood", "Beef"]
x , y , z = foods
print(x,y,z)
print(foods)

Burger Seafood Beef
['Burger', 'Seafood', 'Beef']

## Global Variables

In [14]:
y = "awesome"

def myfunc():
    print("Python is " + y)

myfunc()

print("python is " + y)

Python is awesome
python is awesome

In [23]:
def myfunc2():
    global x,o
    x = "fantastic"
    o = "ok"
myfunc2()

print("python is ", x , o)

python is  fantastic ok

## Python Strings

### Python Concatenate

In [1]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

### Format Strings

In [3]:
age = 40
# type = "man"
txt = "This is type {}"
print(txt.format(age))

This is type 40

In [14]:
# Example
quantity = 10
itemnumber = 1000 
price = 50
myorder = "I want to pay {2} dollar for {2} pieces of item {1}."
print(myorder.format(quantity,itemnumber,price))

I want to pay 50 dollar for 50 pieces of item 1000.

#### Strings Method

In [20]:
# Capitalize -> Converts the first character to upper case
txt = "age : 22 is my age."
x = txt.capitalize()
print (x)

Age : 22 is my age.

In [19]:
# Casefold -> Input String to lower case
txt = "Hello, And Welcome To My World!"

x = txt.casefold()
print(x)

hello, and welcome to my world!

## Python Boolean

In [36]:
a = 200
b = 33

if a > b:
    print ("A is greater than a")
else: 
    print ("B is less than a")

A is greater than a

In [39]:
print (bool("Hello"))
print (bool(15))

True
True

## Python Operators

### Python Arithmetic Operators

In [46]:
# + Addition
x = 5
y = 3
print(x + y)

# - Subtraction
x = 5
y = 3
print(x-y)

# * Multiplication
x = 5
y = 3
print(x*y)

# / Division
x = 5
y = 3
print(x/y)

# % Modulus
x = 5
y = 3
print(x % y)

# ** Exponentiation
x = 5
y = 3
print (x ** y)

# // Floor Division
x = 5
y = 3
print (x // y)

8
2
15
1.6666666666666667
2
125
1

### Python Assignment Operators

In [10]:
# = 
x = 5
print (x)

# +=
x = 5
x += 5
print (x)

# -=
x = 5
x -= 5
print (x)

# *= 
x = 5
x *= 5
print (x)

# /=
x = 5
x /= 5
print (x)

# %= 
x = 5
x %= 5
print (x)

# //=
x = 5
x //= 5
print (x)

# **=
x = 5
x **= 5
print (x)

# &=
x = 5
x &= 5
print (x)

# |=
x = 5
x |= 5
print (x)

# ^=
x = 5
x ^= 5
print (x)

# >>=
x = 5
x >>= 5
print (x)

# <<=
x = 5
x <<= 5
print (x)

5
10
0
25
1.0
0
1
3125
5
5
0
0
160

## Python List

### Python List

In [2]:
mylist = ["apple", "watermelon", "cherry"]
print(mylist)


# List item - Data Types
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 2]
list3 = [True, True, False]

print(list1, list2, list3)

# List Type
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

# List Constructor
mylisting = list(("banana", "pineapple", "manggo"))
print(mylisting)

# Me 
nanolisting = list(("watermelon", "banana", "guava"))
print(nanolisting)

['apple', 'watermelon', 'cherry']
['apple', 'banana', 'cherry'] [1, 5, 7, 9, 2] [True, True, False]
<class 'list'>
['banana', 'pineapple', 'manggo']
['watermelon', 'banana', 'guava']

In [5]:
testlist = []
testlist.append("banana")
testlist.append("manggo")
testlist.insert(4, "strawberry")
otherlist = ["watermelon","pineapple"]
testlist += (otherlist)

print(testlist)

['banana', 'manggo', 'strawberry', 'watermelon', 'pineapple']

### Loop List

#### Loop Through a List

In [8]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
    print(x)

# Me

mylisted= ["burger", "takoyaki", "hot chicken wings"]
for i in mylisted:
    print(i)

apple
banana
cherry
burger
takoyaki
hot chicken wings

#### Loop Through the index numbers

In [14]:
thislist = ["one", "two", "three", "four"]
for x in range(len(thislist)):
    print(thislist[x])

one
two
three
four

#### Using a While Loop

In [21]:
newlist= ["white", "blue", "black", "red"]
i = 2
while i < len(newlist):
    print(newlist[i])
    i = i + 1

black
red

#### Looping using comprehension

In [3]:
nanolisting=["tea", "milk", "juice", "water"]
[print(u) for u in nanolisting]

tea
milk
juice
water

[None, None, None, None]

##### List Compherension W3

In [2]:
#  1
vegetables=["carrot", "spinach", "kale", "brocolli"]
newlist=["one", "two", "three"]

for i in vegetables:
    if i in newlist:
        newlist.append(i)

print(newlist + vegetables)


# 2

vegetables=["carrot", "spinach", "kale", "brocolli"]
newlist=[]

for i in vegetables:
    if "k" in i:
        newlist.append(i)

print(newlist)

['one', 'two', 'three', 'carrot', 'spinach', 'kale', 'brocolli']
['kale']

In [16]:
name_movie = ["narnia", "dracula"]
add_movie = []

for n in add_movie:
    if not add_movie:
        name_movie.append("naruto")
    # name_movie.append()

print(name_movie)

['narnia', 'dracula']

#### List Comprehension you can do all that with only line of code

In [54]:
# 1
foods=["pizza", "french Fries", "hamburger"]
newlist = [x for x in foods if "f" in x]
print(newlist)

# 2
eat_vegetables=["brocoli", "kale", "carrot"]
menulist = [i for i in eat_vegetables if "k" in i]
print(menulist)

# 3
my_color=["red", "white", "black", "blue"]
# col=[]
list_menu=[lis for lis in my_color if "w" in lis]
# mil=[l for l in my_color if "r" in l]

# # Not Compherension
# for i in my_color:
#     if "r" in i:
#         col.append(i)
    
print(list_menu)

['french Fries']
['kale']
['white']

#### Sort Lists

In [21]:
list1 = [1, 2, 3, 4 ,5, 1 , 2 , 3, 4]
list1.reverse()
print(list1)

[4, 3, 2, 1, 5, 4, 3, 2, 1]

In [92]:
thislist=["manggo", "banana", "watermelon", "guava"]
reversed_list = thislist[::-1]
print(reversed_list)

['guava', 'watermelon', 'banana', 'manggo']

#### Copy Lists

In [61]:
def reverse_buatsendiri(list_ygmasuk,status=True):
    if status:
        return list_ygmasuk[::-1]
    if status is False:
        return list_ygmasuk
list123 = [1,2,3,4]
print(reverse_buatsendiri(list123,status=False))

[1, 2, 3, 4]

In [14]:
thislist = ["one", "two", "three", "four"]
thlist= list(thislist)
print (thlist)

['one', 'two', 'three', 'four']

#### Join List

##### Join Two List Using + Operator

In [20]:
list1=["a", "b", "c", "d"]
list2=[1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 'd', 1, 2, 3]

##### Join Two List Using Append

In [36]:
# 1
list1= ["red", "blue", "black"]
list2= ["white", "yellow"]

for x in list2:
    list1.append(x)
    
print(list1)

# 2

number1= [1, 2, 3, 4]
number2= [5, 6, 7, 8, 9, 10]

for i in number2:
    number1.append(i)


print(number1)

# 3

number_one= [10, 11 ,12 ,13]
number_two= [14, 15, 16]

for x in number_two:
    number_one.append(x)

print (number_one)

['red', 'blue', 'black', 'white', 'yellow']
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 11, 12, 13, 14, 15, 16]

##### Join Two List Using Extend

In [37]:
alphabet_one= ["a", "b", "c"]
alphabet_two= ["d", "e", "f"]

alphabet_one.extend(alphabet_two)
print(alphabet_one)

['a', 'b', 'c', 'd', 'e', 'f']

### Tuples

#### Python Tuple

##### Tuple

In [39]:
mytuple = ("apple", "banana", "watermelon")
print(type(mytuple))

<class 'tuple'>

##### Tuple Allow Duplicate

In [40]:
thistuple=("one", "two", "three", "one", "three")
print(thistuple)

('one', 'two', 'three', 'one', 'three')

##### Tuple Length

In [41]:
thistuple=("one", "two", "three", "one", "three")
print(len(thistuple))

5

##### Create Tuple With One Item

Noted : To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [2]:
thistuple = ("apple",)
print(type(thistuple))

thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

##### Tuple Items - Data Types

In [3]:
tuple1= ("apple", "banana", "watermelon")
tuple2= (1 ,2 ,3, 4, 5)
tuple3= (True, False, False)

print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banana', 'watermelon')
(1, 2, 3, 4, 5)
(True, False, False)

##### A tuple can contain different data types

In [6]:
tuple1=("abc", 31, True, 40, "male" )
print(tuple1)
print(type(tuple1))

('abc', 31, True, 40, 'male')
<class 'tuple'>

##### Access Tuple

In [14]:
# Positive Indexing

thistuples = ("apple", "banana", "cheryy")
print(thistuples[1])


# Negative Indexing
thistuples = ("apple", "banana", "cheryy")
print(thistuples[-1])

# Range Indexing Positive
thistuples = ("apple", "banana", "cheryy")
print(thistuples[1:3])

# Range Indexing Negative
thistuples = ("apple", "banana", "cheryy")
print(thistuples[-0:-2])

#

banana
cheryy
('banana', 'cheryy')
('apple',)

##### Tuple : Check If Item Exist

In [19]:
thistuples= ("red", "black", "white")
if "red" in thistuples:
    print("Yes red is in the tuples")

Yes red is in the tuples

##### Update Tuples

Noted : Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [26]:
x = ("red", "black", "white")
y = list(x)
y[2] = "kiwi"
x= tuple(y)

print(x)
print(type(x))

('red', 'black', 'kiwi')
<class 'tuple'>

##### Change Tuple Use add convert to List

In [8]:
create_drinks= ("tea", "juice", "lemonilo", "fanta")
add_drinks= list(create_drinks)
add_drinks [3]= "milo"
# add_drinks.append ("fruit tea")
create_drinks= tuple(add_drinks)

print(create_drinks)

('tea', 'juice', 'lemonilo', 'milo')

##### Add Tuples use Append convert to list

In [7]:
create_drinks= ("tea", "juice", "lemonilo", "fanta")
add_drinks= list(create_drinks)
# add_drinks [3]= "milo"
add_drinks.append ("fruit tea")
create_drinks= tuple(add_drinks)

print(create_drinks)

('tea', 'juice', 'lemonilo', 'fanta', 'fruit tea')

##### Add Tuple to a Tuple 

Noted :  You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:

In [13]:
create_drinks= ("tea", "juice", "lemonilo", "fanta")
add_drinks = ("fruit tea", "milo", "bearbrand")
create_drinks += add_drinks

print(create_drinks)

('tea', 'juice', 'lemonilo', 'fanta', 'fruit tea', 'milo', 'bearbrand')

##### Remove Items Tuples

Noted : Tuples are unchangeable, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items:

##### Delete Tuple : Use Remove

In [1]:
# Use Remove For Delete Tuples

create_foods=("french fries", "salad", "pizza")
# add_foods = list(create_foods)
# add_foods.remove("salad")
# create_foods = tuple(add_foods)
print(create_foods)


create_color= ("red", "white", "black")
add_color = list(create_color)
add_color.remove("white")
create_color = tuple(add_color)
print(create_color)

('french fries', 'salad', 'pizza')
('red', 'black')

##### Delete Tuple : Use Del

If use this code will be error because variable create_foods got deleted

In [17]:
# Use Del for Delete Tuples

create_foods=("french fries", "salad", "pizza")
# del create_foods
print(create_foods)

('french fries', 'salad', 'pizza')

##### Unpack Tuples

In [5]:
# Packing Tuples
color_name=("blue", "white", "yellow")

# But in python, we are also allowed extract the values back into variables. this called "Unpacking"
all_name= ("rheina", "nafica", "dybee", "intan", "nayla", "erin")
(one, *two, three) = all_name

print(one)
print(type(two))
print(three)

rheina
<class 'list'>
erin

##### Loop Tuples

###### Iterate One

In [6]:
# Iterate
name_animals=("snake", "mouse", "butterfly")
for a in name_animals:
    print(a)

snake
mouse
butterfly

###### Iterate Two

In [7]:
foods_animals=("bolt", "whiskas", "fish")
for f in foods_animals:
    print(f)

bolt
whiskas
fish

###### Loop Through the Index Number

In [11]:
type_of_fish=("whale", "piranha", "shark")
for t in range(len(type_of_fish)):
    print(type_of_fish[t])

whale
piranha
shark

###### Using a While Loop 

You can loop through the tuple items by using a while loop.

Use the len() function to determine the length of the tuple, then start at 0 and loop your way through the tuple items by referring to their indexes.

Remember to increase the index by 1 after each iteration.

In [23]:
# One
name_country=("indonesia", "malaysia", "dubai", "korea")
i = 1
while i < len(name_country):
    print(name_country[i])
    i = i + 1

# Two
check_list_animals= ("fish", "crocodille", "monkey", "tiger")
a = 1
while a < len(check_list_animals):
    print(check_list_animals[a])
    a = a + 1

# Three
check_number=("one", "two", "three")
che = 1
while che < len(check_number):
    print(check_number[che])
    che = che + 1

# Four

number_checked= ("check1", "check2", "check3")
num = 0
while num < len(number_checked):
    print(number_checked[num])
    num = num + 1

# Five

float_number= (2.55, 3.44, 5.44)
flo = 0
while flo < len(float_number):
    print(float_number[flo])
    flo = flo + 1

# Six

checked_datatype = ("string", "float", "boolean")
data_check = 1
while data_check < len(checked_datatype):
    print(checked_datatype[data_check])
    data_check = data_check + 1

# Seven

new_name = ("adam", "rizqi", "010")
pick= 0
while pick < len(new_name):
    print(new_name[pick])
    pick = pick + 1

malaysia
dubai
korea
crocodille
monkey
tiger
two
three
check1
check2
check3
2.55
3.44
5.44
float
boolean
adam
rizqi
010

##### Join Tuples

In [27]:
# One join tuples using +

web_download_software= ("kuyhaa", "nesabamedia", "bagas31")
web_download_driver= ("epson", "canon", "linux")

allin = web_download_software + web_download_driver

# print(web_download_software + web_download_driver)
print(allin)


# Multiple Tuples
name_movie = ("narnia" , "dracula", "dilan 1990", "dilan 1991")
pick_movie = name_movie * 2
print (pick_movie)

('kuyhaa', 'nesabamedia', 'bagas31', 'epson', 'canon', 'linux')
('narnia', 'dracula', 'dilan 1990', 'dilan 1991', 'narnia', 'dracula', 'dilan 1990', 'dilan 1991')

#### Sets

##### Python Sets

In [4]:
# Duplicate now allowed

dup= {"banana", "apple", "watermelon", "watermelon"}
print(dup)
# Len for see how many items a set has
print(len(dup))
# Type for see what class kind of type
print(type(dup))

{'watermelon', 'apple', 'banana'}
3
<class 'set'>

##### Set items Data type

In [2]:
set1 = {"apple", "banana", "guava"}
set2 = {1, 5, 7, 9 ,3}
set3 = {True, False, False}

print(set1)
print(set2)
print(set3)

{'guava', 'apple', 'banana'}
{1, 3, 5, 7, 9}
{False, True}

##### Loop Through the set, and print the values

In [12]:
myset={"red", "black", "white"}

for x in myset:
    print(x)

white
black
red

##### Add Set Items

In [27]:
# Add one Item to a set use the add() method.

character_animation_sao = {"kirito", "asuna", "klein"}
character_animation_sao.add("sinon")
print (character_animation_sao)

# To add items from another set into the current set, use the update() method.
setlist_anime = {"SAO", "Haikyuu!", "Yowamushi no Pedal"}
combine_setlist_anime = {"Black Clover", "Kuroko no Basket", "Gundam"}
setlist_anime.update(combine_setlist_anime)
print(setlist_anime)

{'kirito', 'klein', 'asuna', 'sinon'}
{'Yowamushi no Pedal', 'Gundam', 'Black Clover', 'SAO', 'Haikyuu!', 'Kuroko no Basket'}

##### Add Any Iterable

Noted : The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [25]:
buy_something = {"ps1", "ps2", "ps3"}
buy_something_use_list = ["ps4", "ps5"]

buy_something.update(buy_something_use_list)
print(buy_something)
print(type(buy_something))

{'ps4', 'ps2', 'ps1', 'ps3', 'ps5'}
<class 'set'>

##### Remove Set Items
Noted : To remove an item in a set, use the remove(), or the discard() method.

3 Ways to Remove, Pop but random item, clear set and del for deleted set

In [21]:
# 1
want_to_remove_set = {"one", "two", "three"}
want_to_remove_set.remove("two")
print(want_to_remove_set)

# 2
want_to_discard_set = {1 ,2, 3}
want_to_discard_set.discard(1)
print(want_to_discard_set)

# 3
want_to_pop_set = {1 , 2, 3, 4}
want_to_pop_set.pop()
print(want_to_pop_set)

# 4
want_to_clear_set = {1, 3, 4, 5}
want_to_clear_set.clear()
print(want_to_clear_set)

# 5
want_to_del_set = {"one", "two", "three"}
# want_to_del_set.del()
print(want_to_del_set)

{'three', 'one'}
{2, 3}
{2, 3, 4}
set()
{'three', 'two', 'one'}

##### Python - Loop Sets

Noted : You can loop through the set items by using a for loop:

In [46]:
my_set= {"number:1", "number:2", "number:3"}

for s in my_set:
    print(s)

number:1
number:3
number:2

##### Join Two Sets
Noted : There are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

In [12]:
# Union
one_set={"one", "two", "three"}
two_set={1, 2, 3}

three_set= one_set.union(two_set)
print(three_set)


# Union 2

naruto_set={"boruto", "hanabi"}
add_naruto_set={"hinata", "kyuubi"}

want_add_naruto_set= naruto_set.union(add_naruto_set)
print(want_add_naruto_set)


# Update

sasuke_set={"sarada"}
add_sasuke_set={"sakura"}

sasuke_set.update(add_sasuke_set)
print(sasuke_set)


# Update 2

store_foods= {"french fries", "beef"}
add_foods= {"chicken wings"}

store_foods.update(add_foods)
print(store_foods)

# Update 3

buy_drinks = {"lemon tea", "mineral water"}
add_drinks = {"fanta", "milo"}

buy_drinks.update(add_drinks)
print(buy_drinks)


# Keep Only Duplicates > Use Intersection Method

{1, 2, 3, 'two', 'three', 'one'}
{'kyuubi', 'hinata', 'boruto', 'hanabi'}
{'sakura', 'sarada'}
{'french fries', 'beef', 'chicken wings'}
{'fanta', 'mineral water', 'lemon tea', 'milo'}

##### Join Sets : Keep Only the Duplicates
Noted : The intersection_update() method will keep only the items that are present in both sets.

In [9]:
# Intersection

x = {"apple", "watermelon", "banana"}
y = {"red", "blue", "apple"}

x.intersection_update(y)
print(x)

# Return Intersection 2

x = {"blue", "black", "white"}
z = {"blue", "freeze", "cold"}

y = x.intersection(z)
print(y)

# Return Intersection 3 Me
j = {"blue", "ocean", "water"}
k = {"move", "to", "ocean"}
l = k.intersection(j)
print(l)

{'apple'}
{'blue'}
{'ocean'}

##### Keep All, But NOT the Duplicates

Noted : The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

In [11]:
# Symmetric method
o = {"go", "to", "school"}
p = {"go", "to", "hospital"}

o.symmetric_difference_update(p)

print(o)

# Return Symmetric method

k = {"be", "your", "self"}
l = {"be", "my", "self"}
m = k.symmetric_difference(l)

print(m)

{'hospital', 'school'}
{'my', 'your'}

#### Python Dictionary

Noted : Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

Dictionaries are written with curly brackets, and have keys and values:

In [22]:
k = {
    "year" : "2000"
}
print(k)
print(type(k))

l = {"years","2000"}
print(l)
print(type(l))

# Duplicate values will overwrite existing values:
a = {
    "name" : "Adam",
    "year" : "2023",
    "month": "September",
    "month": "04"
}

print(a)
print(type(a))
# Dictionary Length
print(len(a))

{'year': '2000'}
<class 'dict'>
{'years', '2000'}
<class 'set'>
{'name': 'Adam', 'year': '2023', 'month': '04'}
<class 'dict'>
3

In [44]:
# Dictionary Items - Data Types

typedat = {
    "number" :1,
    "boolean": False,
    "float": 2.4,
    "string": "string",
    "list" : ["one", "two", "three"]
}

print(type(typedat))
x = typedat.values()
print(x)

<class 'dict'>
dict_values([1, False, 2.4, 'string', ['one', 'two', 'three']])

##### Python - Access Dictionary Items
Noted : Accessing Items
You can access the items of a dictionary by referring to its key name, inside square brackets:

In [24]:
# Get the Value of [Three] and [One]
pick_color = {"One" : "Red", 
              "Two" : "Blue", 
              "Three" : "Black"}
print(pick_color["Three"])
print(pick_color["One"])

# There is also a method called get() that will give you the same result:
choose_color = {"a" : "blue", "b" : "yellow"}
choose= choose_color.get("b")
choosee= choose_color.get("a")
print(choose, choosee)

Black
Red
yellow blue

In [86]:
# Add a new item to the original dictionary, and see that the keys list gets updated as well:

car = {
    "brand" : "ford",
    "model" : "mustang",
    "year" : 1964
}

x = car.keys()
y = car.values()

print(x)
print(y)
print("")

car["color"] = "white"
print(x)
print(y)
print("")

# Change
car["year"] = 2020
print(x)
print(y)
print("")

car["model"]= "Ferrari"
print(x)
print(y)
print("")

dict_keys(['brand', 'model', 'year'])
dict_values(['ford', 'mustang', 1964])

dict_keys(['brand', 'model', 'year', 'color'])
dict_values(['ford', 'mustang', 1964, 'white'])

dict_keys(['brand', 'model', 'year', 'color'])
dict_values(['ford', 'mustang', 2020, 'white'])

dict_keys(['brand', 'model', 'year', 'color'])
dict_values(['ford', 'Ferrari', 2020, 'white'])

In [92]:
# Check if Key Exist

thisdict = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 1999
}

if "model" in thisdict:
    print("Yes, 'model', is one of the keys in the thisdict dictionary")

Yes, 'model', is one of the keys in the thisdict dictionary

#### Change Items

In [121]:
# Change Values
# You can change the value of a specific item by referring to its key name:

thisdict={
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 2000
}
thisdict["ss"]= 1999


# Update Dictionary
# The update() method will update the dictionary with the items from the given argument.
# The argument must be a dictionary, or an iterable object with key:value pairs.


thisdict.update({"year" :  2020})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'ss': 1999}

#### Dictionary - Add Items

Adding Items
Adding an item to the dictionary is done by using a new index key and assigning a value to it:

In [141]:
tester_dict = {
    "select_1": "one",
    "select_2": "two",
    "select_3": "three"
    }
print(tester_dict)
tester_dict["select_4"]= "four"

print(tester_dict)

# Use Update can add items too

tester_dict.update({"select_5" : "five"})
print(tester_dict)

{'select_1': 'one', 'select_2': 'two', 'select_3': 'three'}
{'select_1': 'one', 'select_2': 'two', 'select_3': 'three', 'select_4': 'four'}
{'select_1': 'one', 'select_2': 'two', 'select_3': 'three', 'select_4': 'four', 'select_5': 'five'}

#### Dictionary - Remove Items
Removing Items
There are several methods to remove items from a dictionary:

In [142]:
# Step One, Use pop()

tester_dict.pop("select_1")

# Step Two, Use del (Specific recomended use this)
del tester_dict["select_2"]

# Step Three, Use clear()
tester_dict.clear()

{'select_1': 'one', 'select_2': 'two', 'select_3': 'three', 'select_4': 'four', 'select_5': 'five'}

#### Dictionary - Loop Dictionary
You can loop through a dictionary by using a for loop.

When looping through a dictionary, the return value are the keys of the dictionary, but there are methods to return the values as well.

In [163]:
# Print all key names in the dictionary, one by one:
for a in tester_dict:
    print(a)

# Print all values in the dictionary, one by one:
for b in tester_dict:
    print(tester_dict[b])

# You can also use the values() method to return values of a dictionary:
for c in tester_dict.values():
    print(c)

# You can use the keys() method to return the keys of a dictionary:
for d in tester_dict.keys():
    print(d)

# You can use the keys() method to return the keys of a dictionary:
# Recomended
for e in tester_dict.items():
    print(e)

select_1
select_2
select_3
select_4
select_5
one
two
three
four
five
one
two
three
four
five
select_1
select_2
select_3
select_4
select_5
('select_1', 'one')
('select_2', 'two')
('select_3', 'three')
('select_4', 'four')
('select_5', 'five')

#### Dictionary - Copy Dictionary
You cannot copy a dictionary simply by typing dict2 = dict1, because: dict2 will only be a reference to dict1, and changes made in dict1 will automatically also be made in dict2.

There are ways to make a copy, one way is to use the built-in Dictionary method copy().

In [1]:
thisdict = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 1964
}

# mydict = thisdict.copy()

# print(mydict)

mydict_two = dict(thisdict)
print(mydict_two)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

#### Dictionary - Nested Dictionary
A dictionary can contain dictionaries, this is called nested dictionaries.

In [9]:
# Create a dictionary that contain three dictionaries:

myfamily = {
    "child1" : {
        "name" : "Emil",
        "year" : 2004
    },
    "child2" : {
        "name" : "Tobias",
        "year" : 2007
    },
    "child3" : {
        "name" : "Linus",
        "year" : 2011
    }
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [10]:
# Or, if you want to add three dictionaries into a new dictionary:
# Create three dictionaries, then create one dictionary that will contain the other three dictionaries:

child4 ={
    "name" : "Nissa",
    "year" : 1999
}

child5 = {
    "name" : "Desi",
    "year" : 2000
}

child6 = {
    "name" : "Nabila",
    "years" : 2001
}

myfamily= {
    "child4" : child4,
    "child5" : child5,  
    "child6" : child6
}

print(myfamily)

{'child4': {'name': 'Nissa', 'year': 1999}, 'child5': {'name': 'Desi', 'year': 2000}, 'child6': {'name': 'Nabila', 'years': 2001}}

In [14]:
# Access Items in Nested Dictionaries
# To access items from a nested dictionary, you use the name of the dictionaries, starting with the outer dictionary:
# Print the name of child 2:

print(myfamily["child6"]["name"])

Nabila

#### Python If..Else
Python supports the usual logical conditions from mathematics:

``Equals: a == b``

``Not Equals: a != b``

``Less than: a < b``

``Less than or equal to: a <= b``

``Greater than: a > b``

``Greater than or equal to: a >= b``

These conditions can be used in several ways, most commonly in "if statements" and loops.

An "if statement" is written by using the if keyword.

------

In this example we use two variables, a and b, which are used as part of the if statement to test whether b is greater than a. As a is 33, and b is 200, we know that 200 is greater than 33, and so we print to screen that "b is greater than a".

In [17]:
# If Statement
a = 33
b = 200
if b > a:
    print("b is greater than a")

b is greater than a

' In this example we use two variables, a and b, which are used as part of the if statement to \ntest whether b is greater than a. As a is 33, and b is 200, we know that 200 is greater than 33, \nand so we print to screen that "b is greater than a". '

In [42]:
# Elif

# a = 20
# b = 50

# if a > b:
#     print("a is less than b")
# elif b > a:
#     print("b is greater than a")

# My Tester 2
boss = False
attack = 50
heal = 20


if boss == 1:
    print("Boss spawned... roarr ")
elif attack > 50:
    print("Boss got attack 50 damage")
elif attack < 50:
    print("Boss got attacked les than 50 damage")
elif boss > 50:
    print("Boss got healed 50 health")
else:
    print("Defeat")

Defeat

------

In this example a is greater than b, so the first condition is not true, also the elif condition is not true, so we go to the else condition and print to screen that "a is greater than b".

In [45]:
# Else
# The else keyword catches anything which isn't caught by the preceding conditions.

a = 400
b = 10
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

a is greater than b

In [63]:
# You can also have an else without the elif:

a = 440
b = 300

if b > a:
    print("a is greater than b")
else:
    print("b is not greater than a")

b is not greater than a

-------

This technique is known as Ternary Operators, or Conditional Expressions.

In [67]:
# Short Hand Elif
# If you have only one statement to execute, you can put it on the same line as the if statement.

# One line if statement:
if a > b: print ("a is greater than b")

# Short Hand If..Else
a = 2
b= 330
print("A") if a > b else print("B")

B

In [69]:
# You can also have multiple else statements on the same line:

a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

-------

And

The ``and`` keyword is a logical operator, and is used to combine conditional statements:

In [74]:
# Test if a is greater than b, AND if c is greater than a:

a = 200
b = 20
c = 500

if a > b and c > a:
    print("Both Conditions are True")
else:
    print("False")

Both Conditions are True

------

Or

The or keyword is a logical operator, and is used to combine conditional statements:

In [80]:
# Example
# Test if a is greater than b, OR if a is greater than c

a = 500
b = 200
c = 400

if b > a or a > c:
    print("At least one of the conditions is True")

# Noted for this = If u use or method for loop, at least on of the that conditions is will be true and get true, if two false you get false

At least one of the conditions is True

---------

Not

The not keyword is a logical operator, and is used to reverse the result of the conditional statement:

In [86]:
# Tes if a is `NOT` greater than b

a = 50
b = 200

if not a > b:
    print("a is `not` greater than b")

a is `not` greater than b

-------

Nested If

You can have if statements inside if statements, this is called nested if statements.

In [95]:
x = 30

if x > 10:
    print("Above ten,")
    if x > 20:
        print("and also above 20!")
    else:
        print("but not above 20.")

Above ten,
and also above 20!

---------

The Pass Statement

if statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error.

In [99]:
a = 33
b = 200

if b > a:
    pass

#### Python - Python While Loops

Python Loops
Python has two primitive loop commands:

    `while loops`
    
    `for loops`


The while Loop

With the while loop we can execute a set of statements as long as a condition is true.

In [137]:
# Print i as long as i is less than 6:

i = 1
while i < 6:
    print(i)
    i += 1

print("")

# My Examp 1
# Brief : Print a as long a is less than 10

# Result One , this use less than equal <= for get number 10
a = 1
while a <= 10:
    print(a)
    a += 1

print("")

# Result Two, this use less than for get number than but in variable set to 0 and the print set to +1
a = 0
while a < 10:
    print(a+1)
    a += 1

# Noted : Remember to increment i, or else the loop will continue forever.

1
2
3
4
5

1
2
3
4
5
6
7
8
9
10

1
2
3
4
5
6
7
8
9
10

-------

The Break Statement - While Loops

With the break statement we can stop the loop even if the while condition is true:

In [162]:
i = 1
while 1 < 5:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

-------

The continue Statement

With the continue statement we can stop the current iteration, and continue with the next:

In [173]:
i = 0
while i < 6:
    i += 1
    if i == 5:
        continue
    print(i)

1
2
3
4
6

-------

The else Statement

With the `else` statement we can run a block of code once when the condition no longer is true:

In [179]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6") 

# Two

print()

a = 1
while a < 11:
    print(a)
    a += 1
else:
    print("a is no longer less than 10")

1
2
3
4
5
i is no longer less than 6

1
2
3
4
5
6
7
8
9
10
a is no longer less than 10

--------

Python For Loops
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc

#### Python - For Loops

In [1]:
# # Print Each Fruit in a fruit list:
# fruits = ["apple", "banana", "watermelon"]
# for x in fruits:
#     print(x)

print()
# Print two Each in a car list:
car = ["Ferrari", "Wuling", "Civic", "Mazda"]
for a in car:
    new_var = a
    print(new_var)

# print(car)

Ferrari
Wuling
Civic
Mazda

In [34]:
# # Looping Through a String
# # Even strings are iterable objects, they contain a sequence of characters:

# # Example
# for x in "Wuling":
#     print(x)



# # The break statement
# # Example
# # Exit the loop when x is "banana":

# fruits = ["apple", "banana", "cherry","watermelon"]
# for x in fruits:
#     if x == "watermelon":
#         break
#     print(x)



# # The range() Function
# # To loop through a set of code a specified number of times, we can use the range() function,
# # The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

# # Example
# # Using the range() function:

# for x in range(6):
#     print(x +1) # If only print x, range will print 0-5, if use +1 will print 1-6

# # The range Function defaults to 0 as a string value, however it is possible to specify the starting value by adding a parameter : range(2, 6), which means values from 2 to 6 (but not including 6)

# # Example 
# # Using the Start parameter

# for x in range (2,6):
#     print(x)

# # The range() function defaults to increment the sequence by 1, however it is possible to specify the increment value by adding a third parameter: range(2, 30, 3):

# # Increment the sequence with 3 (default is 1):
# for x in range(2,30,3):
#     print(x)

# # Else in For Loop
# # The else keyword in a for loop specifies a block of code to be executed when the loops is finished:

# # Example 
# # Print all number from 0 to 5, and print a message when the loop has ended:

# for x in range(6):
#     print(x)
# else:
#     print("Finally Finished!")

# Example
# Break the loop when x is 3, and see what happens with the else block:

for x in range(6):
    if x == 5:break
    print(x)
else:
    print("finally finished!")

# Nested Loop
# A nested loop is a loop inside a loop.
# The "inner loop" will be executed one time for each iteration of the "outer loop":

# Example
# Print each adjective for every fruit:
adj = ["red", "big","tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x,y)

# The pass statement 
# for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

# Example
for x in [0, 1, 2]:
    pass

0
1
2
3
4
red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

#### Python- Python Functions

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

In [72]:
# Creating a Function : 
# In Python a function is defined using the def keyword:

# Arguments

""" Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

The following example has a function with one argument (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name:"""

def testfunction(test):
    print(test + "print test 123")

testfunction("Nana ")

# Parameter or Arguments
# The terms parameter and argument can be used for the same thing: information that are passed into a function.

""" From a function's perspective:

A parameter is the variable listed inside the parentheses in the function definition.

An argument is the value that is sent to the function when it is called. """

# Number of arguments 
# By default, a function must be called with the correct number of arguments. Meaning that if your function expects 2 arguments, you have to call the function with 2 arguments, not more, and not less.

# Example
# This function expects 2 arguments , and gets 2 arguments:
def myfunc(fname, lname):
    print(fname + " " + lname)
myfunc("Guin", "Refsness")
myfunc("Amel", "Refsness")


# Arbitrary Keyword Arguments , **Kwargs
# If you do not know how many keyword arguments that will be passed into your function, add two asterisk: ** before the parameter name in the function definition.
# This way the function will receive a dictionary of arguments, and can access the items accordingly:

# Example
# If the number of keyword arguments is unknown, add a double ** before the parameter name:

def my_function(**kid):
    print("His last name is" + kid["lname"])

my_function(fname = "Tobias", lname = " Refness")

# Default Parameter Value
def test_parameter_default_value(country= "China"):
    print("Iam from " + country)

test_parameter_default_value()
test_parameter_default_value("Korea Selatan")
test_parameter_default_value("Japan")

# Passing a List as an Argument
""" You can send any data types of argument to a function (string, number, list, dictionary etc.), and it will be treated as the same data type inside the function.
E.g. if you send a List as an argument, it will still be a List when it reaches the function """

def my_food(foods):
    for x in foods:
        print(x)

fruits=["apple", "banana", "watermelon"]
my_food(fruits)


# Return Values

# To let a function return a value, use the 'return' statement:

# Example

def my_function_return(x):
    return 5 * x

print(my_function_return(3))
print(my_function_return(5))
print(my_function_return(9))


# The pass Statement 
""" function definitions cannot be empty, but if you for some reason have a function definition with no content, put in the pass statement to avoid getting an error. """

def myfunction_two():
    pass


# Recursion

""" Python also accepts function recursion, which means a defined function can call itself.

Recursion is a common mathematical and programming concept. It means that a function calls itself. This has the benefit of meaning that you can loop through data to reach a result.

The developer should be very careful with recursion as it can be quite easy to slip into writing a function which never terminates, or one that uses excess amounts of memory or processor power. However, when written correctly recursion can be a very efficient and mathematically-elegant approach to programming.

In this example, 'tri_recursion()' is a function that we have defined to call itself ("recurse"). We use the 'k' variable as the data, which decrements '(-1)' every time we recurse. The recursion ends when the condition is not greater than 0 (i.e. when it is 0).

To a new developer it can take some time to work out how exactly this works, best way to find out is by testing and modifying it. """


# Example
# Recursion Example

# def tri_recursion(k):
#     if(k > 0):
#         result = k + tri_recursion(k - 1)
#         print(result)
#     else:
#         result = 0
#     return result

# print("\n\nRecursion Example Results")
# tri_recursion(6)

# def test_tri_recursion(tested):
#     if(tested > 0):
#         myresult = tested + test_tri_recursion(tested - 1)
#         print(myresult)
#     else:
#         myresult = 0
#     return myresult

# print("\n\nRecursion Tested Results All")
# test_tri_recursion(11)

# def tested_tri_meaning(a):
#     if (a > 0):
#         thisresult = a + tested_tri_meaning(a - 9)
#         print(thisresult)
#     else:
#         thisresult = 0
#     return thisresult

# tested_tri_meaning(6)

# def this_will_be_func_recursion(t):
#     if(t > 0):
#         results = t + this_will_be_func_recursion(t - 9)
#         print(results)
#     else: 
#         results = 30
#     return results

# this_will_be_func_recursion(9)


def will_be_use_parameter(useparam_new):
    if (useparam_new == 0):
        var_use = useparam_new + will_be_use_parameter(useparam_new - 5)
        print(var_use)
    else:
        var_use = 10
    return var_use

will_be_use_parameter(5)

Nana print test 123
Guin Refsness
Amel Refsness
His last name is Refness
Iam from China
Iam from Korea Selatan
Iam from Japan
apple
banana
watermelon
15
25
45

10

In [97]:
def genap(x):
     if x == 0:
         return True
     else:
         return ganjil(x-1)
     
def ganjil(x):
     return not genap(x)

print(ganjil(17))
print(genap(23))

# genap(1)

# ganjil(4)

True
False

In [107]:
def multiple_foods(add_food):
    print("more add " + add_food + " and french fries")

multiple_foods("chicken wings")
multiple_foods("salad")
multiple_foods("kebab turkey")
multiple_foods("chicken afrika")
multiple_foods("add ice tea drink , sunday cream")

more add chicken wings and french fries
more add salad and french fries
more add kebab turkey and french fries
more add chicken afrika and french fries
more add add ice tea drink , sunday cream and french fries

In [1]:
dict1 = {"name:" : "mike", "salary" : 8000}
temp = dict1.pop("age")

print(temp)

KeyError: 'age'

In [125]:
dict1 = {"key1" : 1, "key2" : 2}
dict2 = {"key2" : 2 , "key1" : 1}

print(dict1 == dict2)

dict3 = dict1.copy()
dict4 = dict(dict1)
print(dict1, dict2, dict3)
print(dict4)

True
{'key1': 1, 'key2': 2} {'key2': 2, 'key1': 1} {'key1': 1, 'key2': 2}
{'key1': 1, 'key2': 2}

In [1]:
students = {
    "name" : "Emma",
    "class" : 9,
    "marks" : 75
}

# students.pop("marks")
# del students ["marks"]
# students.remove("marks")
# print(students)

s1 = students.get("marks")
s2 = students['marks']
# s = students.get(2)
print(s1,s2)

75 75

In [114]:
sampleDict = {
    "class" : {
        "student" : {
            "name" : "Mike",
            "marks":{
                "physics" : 70,
                "history" : 80
            }
        }
    }
}

sampleDict["class"]["student"]["marks"]["history"]

80

In [128]:
sampledict = dict()

sampledict={}

In [131]:
sampleDict= dict ({
    ("first :", 1),

})

print(sampleDict)

{'first :': 1}

#### Python Classes and Objects
Python is an object oriented programming language.

Almost everything in Python is an object, with its properties and methods.

A Class is like an object constructor, or a "blueprint" for creating objects.

In [2]:
# Create a Class

# Example

class MyClass:
    x = 5

In [3]:
# Create a Object 

# Example

p1 = MyClass()
print(p1.x)

5

##### The __init__() Function

The examples above are classes and objects in their simplest form, and are not really useful in real life applications.

To understand the meaning of classes we have to understand the built-in __init__() function.

All classes have a function called __init__(), which is always executed when the class is being initiated.

Use the __init__() function to assign values to object properties, or other operations that are necessary to do when the object is being created:

In [5]:
# The __init__() Function

# Example

class Person:
    def __init__(self, name, age):
        self.name   = name
        self.age =  age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

# Note: The __init__() function is called automatically every time the class is being used to create a new object.

John
36

In [18]:
# The __str__() Function

# The __str__() function controls what should be returned when the class object is represented as a string.

# If the __str__() function is not set, the string representation of the object is returned:

# class Person:
#     def __init__(self, name, age) :
#         self.name = name
#         self.age = age

# p1 = Person("John", 36)
# print(p1)


class Person:
    def __init__(self, name, age) :
        self.name = name
        self.age = age

    def __str__(self) :
        return f"{self.name}({self.age})"

p1 = Person("John", 36)
print(p1)

John(36)

##### Objects Methods
Objects can also contain methods. Methods in objects are functions that belong to the object.

Let us create a method in the Person class:

In [24]:
class Person:
    def __init__(self, name, age):
     self.name = name
     self.age = age

    def myfunc(self):
       print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [28]:
# Example
# Use the words mysillyobject and abc instead of self:

class Person :
    def __init__(mysillyobject, name, age) -> None:
        mysillyobject.name = name
        mysillyobject.age = age

    def myfunc(abc):
        print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.age = 40
p1.myfunc()

Hello my name is John

In [30]:
# Deleted Object Properties
# You can deleted properties on objects by using the del keyword

# del p1.age()

SyntaxError: cannot delete function call (764437900.py, line 4)

##### The pass Statement

In [44]:
class Person:
    pass

In [46]:
# Create a Child Class
# To create a class that inherits the functionality from another class, send the parent class as a parameter when creating the child class:

class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  pass

x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

### MineXample

In [92]:
# Calculator Program

def add(num1, num2):
    addnumber= num1 + num2
    # print(addnumber)
    return num1 + num2
    # return addnumber

def subtraction(num1, num2):
    subtractnumber= num1 - num2
    # print(subtractnumber)
    return num1 - num2
    # return subtractnumber

def multiply(num1,num2):
    multiplynumber= num1 * num2
    # print(multiplynumber)
    return num1 * num2
    # return multiplynumber

def divide(num1,num2):
    dividenumber= num1 / num2
    # print(dividenumber)
    return num1 / num2
    # return dividenumber

In [95]:
# print("Please select operation -\n" \
#         "1. Add\n" \
#         "2. Subtract\n" \
#         "3. Multiply\n" \
#         "4. Divide\n")

# Take input

selectoperation= 1
number_1 = 150
number_2 = 50

if selectoperation == 1:
    print(number_1, "+", number_2, "=", add(number_1, number_2))
elif selectoperation == 2:
    print(number_1, "-", number_2, "=", subtraction(number_1, number_2))
elif selectoperation == 3:
    print(number_1, "*", number_2, "=", multiply(number_1, number_2)) 
elif selectoperation == 4:
    print(number_1, "/", number_2, "=", divide(number_1, number_2)) 
else:
    print("Invalid Input")

150 + 50 = 200

In [77]:
def get_value():
    yield 42
    yield "hello"
    yield [1, 2, 3]

# Test code
result = get_value() # This called Variable and pick up paramater function to get result

# This code for final result from yield 
print(next(result))
print(next(result))
print(next(result))

# # This code for check type
# print(type(next(result)))
# print(type(next(result)))
# print(type(next(result)))

42
hello
[1, 2, 3]

In [48]:
def reverse_buatsendiri(list_ygmasuk,status):
    if status:
        return list_ygmasuk[::-1]
    # if status is False:
    return list_ygmasuk
list123 = [100,80,77,60]
print(reverse_buatsendiri(list123,status=True))

[60, 77, 80, 100]

In [11]:
def myreverse(listrev, status= True):
    if status:
        return listrev[::-1]
    return listrev
listnum = [1,2,3,4]
print(myreverse(listnum,status= True))

[4, 3, 2, 1]

In [54]:
# Create simple calculator code using python

def add(num_one, num_two):
    return num_one + num_two

def subtraction(num_one, num_two):
    return num_one - num_two

def multiply (num_one, num_two):
    return num_one * num_two

def dividen (num_one, num_two):
    return num_one / num_two

In [63]:
# If u want select this operator, change select to number 
# 1. For Add
# 2. For Subtraction
# 3. For Multiply
# 4. For Divide

select = 3
number1 = 10
number2 = 20

if select == 1:
    print(number1, "+" ,number2, "=", add(number1, number2))
elif select == 2:
    print(number1, "-", number2, "=", subtraction(number1, number2))
elif select == 3:
    print(number1, "*", number2, "=", multiply(number1, number2))
elif select == 4:
    print(number1, "/", number2, "=", dividen(number1, number2))
else:
    print("invalid select")

10 * 20 = 200

In [62]:
# li=["test", "one"]
# tu= ("test",)
# set= {"one","set"}
# dict= {"One" : "Two"}

# print(type(li))

# print(type(tu))

# print(type(set))

# print(type(dict))

x = int(5)
print(x)

5