# OS & shutil

In [5]:
import os, shutil

# make dummy txt file
with open('file.txt', 'w') as file:
    file.write('')

In [18]:
# get current directory
print(os.getcwd())

# make dir
try:
    os.mkdir('sample')
except:
    pass

# join path
cur_dir = os.getcwd()
sample_dir = os.path.join(cur_dir, 'sample')
print(sample_dir)

# check exist
print(os.path.exists(sample_dir))

# get basename
print(os.path.basename(sample_dir))

# copy $ cut file
src = os.path.join(cur_dir, 'file.txt')
dst = os.path.join(sample_dir, 'file.text')
shutil.move(src, dst)

/Users/bobi/Documents/GitHub/crash-course/3. Python Basic Common Library
/Users/bobi/Documents/GitHub/crash-course/3. Python Basic Common Library/sample
True
sample

'/Users/bobi/Documents/GitHub/crash-course/3. Python Basic Common Library/sample/file.text'

# Time & Datetime

In [20]:
import time
import datetime as dt

In [32]:
# # get time
# print(time.time())

# sleep
# print('hai')
# time.sleep(5)
# print('hello')

# check process time
# start_time = time.time()
# time.sleep(3)
# end_time = time.time()
# print(end_time-start_time)

# get current datetime
cur_dt = dt.datetime.now()
print(cur_dt)
print(type(cur_dt))

# datetime to string
string_dt = cur_dt.strftime('%Y-%m-%d %H:%M:%S')
print(string_dt)
print(type(string_dt))

# string to datetime
cur_dt = dt.datetime.strptime(string_dt, '%Y-%m-%d %H:%M:%S')
print(cur_dt)
print(type(cur_dt))

2023-08-04 14:28:24.907389
<class 'datetime.datetime'>
2023-08-04 14:28:24
<class 'str'>
2023-08-04 14:28:24
<class 'datetime.datetime'>

# Random

In [55]:
import random

random.seed(10)

random.randint(0, 1)

0

In [95]:
import random

# seeding
# random.seed(0)

# random range
# random.randrange(0,2)
# random.randint()

# random float
# random.random()
# random.uniform(1,2)

# sampling
a = [1,2,3,4,5]
# random.shuffle(a)
# random.sample(a, k=5)
# random.choice(a)
random.choices(a, k=2)
# print(a)

[1, 3]

# JSON

In [99]:
import json

dictionary = {
    "name": "budi",
    "height": 167,
    "weight": 68.6
}
 
# writing json
with open("sample.json", "w") as outfile:
    # # method 1
    # json_object = json.dumps(dictionary)
    # outfile.write(json_object)
    # method 2
    json.dump(dictionary, outfile)


# reading json
with open('sample.json', 'r') as openfile:
    json_object = json.load(openfile)

print(json_object, type(json_object))

{'name': 'budi', 'height': 167, 'weight': 68.6} <class 'dict'>

# Numpy

other information source :
https://numpy.org/doc/stable/user/absolute_beginners.html

In [115]:
import numpy as np

myarr = np.array([1,2])
myarr2 = np.array([3,4])

myarr.shape

(2,)

In [125]:
import numpy as np

# create array
array_example = np.array([[[0, 1, 2, 3],
                           [4, 5, 6, 7]],

                          [[0, 1, 2, 3],
                           [4, 5, 6, 7]],

                          [[0 ,1 ,2, 3],
                           [4, 5, 6, 7]]])

# ndim, size, shape
array_example.ndim

# mean, median
myarr = np.array([1,2,5])
np.mean(myarr)
np.min(myarr)

# basic operation as

1

# Pandas

In [154]:
import pandas as pd

# data = {
#     'Name': ['Tom', 'Jack', 'Steve', 'Ricky'],
#     'Age': [28,34,29,42]
# }

data = [
    {'Name': 'Tom', 'Age': 28, 'Height':165},
    {'Name': 'Jack', 'Age': 34},
    {'Name': 'Steve', 'Age': 29},
    {'Name': 'Ricky', 'Age': 42},
]

df = pd.DataFrame(data)
df

    Name  Age  Height
0    Tom   28   165.0
1   Jack   34     NaN
2  Steve   29     NaN
3  Ricky   42     NaN

In [166]:
a = [1, 2, 7, 5, 6]
print(a)
a.sort()
print(a)

[1, 2, 7, 5, 6]
[1, 2, 5, 6, 7]

In [170]:
avg = sum(a)/len(a)
avg

4.2

In [169]:
sr = pd.Series(a)
sr.describe()

count    5.000000
mean     4.200000
std      2.588436
min      1.000000
25%      2.000000
50%      5.000000
75%      6.000000
max      7.000000
dtype: float64

In [163]:
df.describe()

             Age  Height
count   4.000000     1.0
mean   33.250000   165.0
std     6.396614     NaN
min    28.000000   165.0
25%    28.750000   165.0
50%    31.500000   165.0
75%    36.000000   165.0
max    42.000000   165.0

# Others

- OpenCV
- Pydub
- Matplotlib
- etc